In [3]:
import spacy
#load a pipeline
nlp= spacy.blank('en') # black pipeline for english language

In [8]:
doc= nlp("i am Mr. nitin verma and i am 21 years old. My hobbies are playing cricket, football etc.")

for token in doc:
    print(token)

i
am
Mr.
nitin
verma
and
i
am
21
years
old
.
My
hobbies
are
playing
cricket
,
football
etc
.

In [11]:
doc[0]

i

In [38]:
doc= nlp("My email is for ten $ only.")
for token in doc:
    print(token)

My
email
is
for
ten
$
only
.

In [39]:
token4= doc[4]
token4.text

'ten'

In [40]:
token4.like_num

True

In [42]:
token5= doc[5]
token5.is_currency

True

In [43]:
for token in doc:
    print(token, token.is_alpha, token.like_num, token.is_currency)

My True False False
email True False False
is True False False
for True False False
ten True True False
$ False False True
only True False False
. False False False

# Opening a text file from the system

In [59]:
with open('D:/Users/NITIN VERMA/Desktop/NLP/resources/student.txt') as f:
    text= f.readlines()

text
#cannot access the text like this
#have to convert the array into a single text seperated with spaces

['Dayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Virat   5 June, 1882    virat@kohli.com\n',
 'Maria\t12 April, 2001  maria@sharapova.com\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@root.com']

In [60]:
text= ''.join(text)
text

'Dayton high school, 8th grade students information\n==================================================\n\nName\tbirth day   \temail\n-----\t------------\t------\nVirat   5 June, 1882    virat@kohli.com\nMaria\t12 April, 2001  maria@sharapova.com\nSerena  24 June, 1998   serena@williams.com \nJoe      1 May, 1997    joe@root.com'

In [64]:
doc= nlp(text)

emails= []

for token in doc:
    if token.like_email:
        emails.append(token.text)

emails

['virat@kohli.com',
 'maria@sharapova.com',
 'serena@williams.com',
 'joe@root.com']

# EXERCISE

In [66]:
# Q1 FINF ALL EMAIL ID
text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/, 
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

In [69]:
import spacy
nlp= spacy.blank('en')
doc= nlp(text)

In [75]:
urls= []
for token in doc:
    if token.like_url:
        urls.append(token)

urls

[http://www.data.gov/,
 http://www.science,
 http://data.gov.uk/.,
 http://www3.norc.org/gss+website/,
 http://www.europeansocialsurvey.org/.]

In [105]:
# Extract money
transactions = "Tony gave two $ to Peter, Bruce gave 500 € to Steve 10"

doc= nlp(transactions)

ans= []

count= len(doc)

for token in doc:
    if token.i != count-1:
        if token.like_num and doc[token.i + 1].is_currency:
            ans.append(token.text + ' '+  doc[token.i + 1].text)

ans

['two $', '500 €']